.App{
  display: flex;
  flex-direction: column;
  padding: 250px;
}

.app{
  display: flex;
  justify-content: center;
}

.incrBtn{
  position: absolute; 
  left: 610px;
}

.decrBtn{
  position: absolute; 
  right: 600px;
}